{% extends "base.html" %}
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="container-fluid">
                  <div class="jumbotron">
                    <h3 >Wellcome to SynChron<font color="purple"><big>i</big></font>Sys:</h3> 
                    <p>A hub for synthetic and systems chronobiology</p> 
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div id ="footer" class="row">
            <div class="col-lg-6 col-sx-6 fixed-bottom">
                <div align="right">
                    <p>This site is powerd by:</p>
                </div>
            <img align="right" src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" class="img-responsive" width=100>
            <img align="right" src=https://www.djangoproject.com/s/img/logos/django-logo-positive.png class="img-responsive" width=100>
            
            </div>
        </div>
    
    {% endblock %}
